.search {
  background-color: #d7bf77;
  min-height: 25vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.search-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.heading {
  color: #442f12;
}

.error-button {
  background-color: #442f12;
  padding: 3px 6px;
  margin-top: 10px;
}
